In [1]:
import pandas as pd
import glob
import numpy as np
import seaborn as sns

#  Label the data  
Read the data from category fold, label them with  LSC as 1, LSCF as 2, SBSC as 3
![title](.\Figure\)

In [4]:
pathLSC ='./NewData/category/LSC.csv'

In [5]:
inssertlable = pd.read_csv(pathLSC)

In [6]:
inssertlable.insert(0, "label", "1")

In [8]:
inssertlable.head()

,label,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,0,1,2,3,4,5,...,34.1,35.1,36.1,37.1,38.1,39.1,40.1,41.1,42.1,43.1
0,1,0,0,R/Ohm,0.047597,-0.006556,-0.068768,-0.12826,-0.125710,-0.243930,...,7.7261,7.7830,7.8296,7.8651,7.8880,7.9041,7.9113,7.9147,7.9131,7.9137
1,1,1,1,R/Ohm,0.115820,0.012426,-0.041814,-0.12696,-0.162290,-0.231690,...,6.9427,6.9470,6.9497,6.9535,6.9599,6.9691,6.9834,7.0016,7.0244,7.0561
2,1,2,2,R/Ohm,0.411720,0.269350,0.175000,0.07999,0.004176,-0.066242,...,6.6310,6.6665,6.7103,6.7233,6.7553,6.7965,6.8177,6.8331,6.8473,6.8562
3,1,3,3,R/Ohm,0.042044,-0.058436,-0.099432,-0.15427,-0.201070,-0.230130,...,7.0381,7.0571,7.0714,7.0838,7.0921,7.0994,7.1029,7.1067,7.1069,7.1079
4,1,4,4,R/Ohm,0.741100,0.555860,0.375010,0.25047,0.125910,0.025223,...,6.8270,7.0201,7.2085,7.4162,7.6300,7.8422,8.0435,8.2196,8.3649,8.4727

In [12]:
LSC = inssertlable.drop(inssertlable.columns[1:4], axis=1)

In [13]:
LSC.to_csv("./NewData/label/LSClabel1.csv")
print("Data save to ./NewData/label/LSClabel1.csv")

Data save to ./NewData/label/LSClabel1.csv

## 2 LSCF

In [15]:
pathLSCF ='./NewData/category/LSCF.csv'

In [22]:
inssertlable2 = pd.read_csv(pathLSCF)
inssertlable2.insert(0, "label", "2")
inssertlable2.head()

,label,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,0,1,2,3,4,5,...,43.1,44.1,45.1,46.1,47.1,48.1,49.1,50.1,51.1,52.1
0,2,0,0,R/Ohm,0.32520,0.15470,0.073283,-0.047320,-0.120480,-0.17804,...,11.5960,11.8400,12.024,12.169,12.298,12.435,12.595,12.800,12.578,12.506
1,2,1,1,R/Ohm,0.34636,0.21162,0.099908,0.001762,-0.082829,-0.15802,...,11.5290,11.7670,11.953,12.087,12.169,12.204,12.275,12.521,12.527,12.449
2,2,2,2,R/Ohm,0.32460,0.17346,0.029198,-0.049483,-0.095520,-0.17616,...,11.9390,12.3350,12.693,12.961,13.138,13.253,13.398,13.702,13.803,13.550
3,2,3,3,R/Ohm,0.40950,0.26517,0.147860,0.042327,-0.046093,-0.11998,...,9.8387,9.9949,10.132,10.241,10.348,10.387,10.259,10.043,10.119,10.313
4,2,4,4,R/Ohm,0.34760,0.20960,0.114470,-0.001616,-0.077175,-0.15661,...,11.7780,12.1390,12.466,12.725,12.924,13.076,13.265,13.577,13.353,13.617

In [26]:
LSCF = inssertlable2.drop(inssertlable2.columns[1:4], axis=1)

In [27]:
LSCF.head()

,label,0,1,2,3,4,5,6,7,8,...,43.1,44.1,45.1,46.1,47.1,48.1,49.1,50.1,51.1,52.1
0,2,0.32520,0.15470,0.073283,-0.047320,-0.120480,-0.17804,-0.25759,-0.33586,-0.37890,...,11.5960,11.8400,12.024,12.169,12.298,12.435,12.595,12.800,12.578,12.506
1,2,0.34636,0.21162,0.099908,0.001762,-0.082829,-0.15802,-0.22611,-0.28887,-0.34642,...,11.5290,11.7670,11.953,12.087,12.169,12.204,12.275,12.521,12.527,12.449
2,2,0.32460,0.17346,0.029198,-0.049483,-0.095520,-0.17616,-0.25366,-0.30337,-0.38436,...,11.9390,12.3350,12.693,12.961,13.138,13.253,13.398,13.702,13.803,13.550
3,2,0.40950,0.26517,0.147860,0.042327,-0.046093,-0.11998,-0.19392,-0.25116,-0.30840,...,9.8387,9.9949,10.132,10.241,10.348,10.387,10.259,10.043,10.119,10.313
4,2,0.34760,0.20960,0.114470,-0.001616,-0.077175,-0.15661,-0.21812,-0.30173,-0.36483,...,11.7780,12.1390,12.466,12.725,12.924,13.076,13.265,13.577,13.353,13.617

In [28]:
LSCF.to_csv("./NewData/label/LSCFlabel2.csv")
print("Data save to ./NewData/label/LSCFlabel2.csv")

Data save to ./NewData/label/LSCFlabel2.csv

## 3.  SBSC

In [29]:
pathSBSC ='./NewData/category/SBSC.csv'
inssertlable3 = pd.read_csv(pathSBSC)
inssertlable3.insert(0, "label", "3")
inssertlable3.head()

,label,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,0,1,2,3,4,5,...,16.1,17.1,18.1,19.1,20.1,21.1,22.1,23.1,24.1,25.1
0,3,0,0,R/Ohm,0.31501,0.227760,0.154810,0.095242,0.046438,0.002771,...,3.8579,3.9027,3.9504,4.0014,4.0542,4.1087,4.1643,4.2200,4.2750,4.3268
1,3,1,1,R/Ohm,0.22672,0.156810,0.094256,0.040520,-0.001918,-0.037836,...,3.9858,4.0361,4.0890,4.1462,4.2066,4.2678,4.3326,4.3967,4.4612,4.5249
2,3,2,2,R/Ohm,0.15605,0.098135,0.053548,0.013073,-0.018667,-0.046637,...,3.7594,3.8093,3.8623,3.9160,3.9725,4.0313,4.0899,4.1481,4.2049,4.2593
3,3,3,3,R/Ohm,0.25508,0.179810,0.113520,0.057722,0.015475,-0.023897,...,4.0780,4.1294,4.1836,4.2413,4.3031,4.3663,4.4319,4.5000,4.5682,4.6365
4,3,4,4,R/Ohm,0.28677,0.201980,0.129820,0.067065,0.020661,-0.022351,...,4.1885,4.2401,4.2960,4.3555,4.4178,4.4827,4.5495,4.6184,4.6873,4.7571

In [30]:
SBSC = inssertlable3.drop(inssertlable3.columns[1:4], axis=1)

In [31]:
SBSC.head()

,label,0,1,2,3,4,5,6,7,8,...,16.1,17.1,18.1,19.1,20.1,21.1,22.1,23.1,24.1,25.1
0,3,0.31501,0.227760,0.154810,0.095242,0.046438,0.002771,-0.037593,-0.068909,-0.096433,...,3.8579,3.9027,3.9504,4.0014,4.0542,4.1087,4.1643,4.2200,4.2750,4.3268
1,3,0.22672,0.156810,0.094256,0.040520,-0.001918,-0.037836,-0.071747,-0.100800,-0.127340,...,3.9858,4.0361,4.0890,4.1462,4.2066,4.2678,4.3326,4.3967,4.4612,4.5249
2,3,0.15605,0.098135,0.053548,0.013073,-0.018667,-0.046637,-0.078536,-0.102020,-0.126810,...,3.7594,3.8093,3.8623,3.9160,3.9725,4.0313,4.0899,4.1481,4.2049,4.2593
3,3,0.25508,0.179810,0.113520,0.057722,0.015475,-0.023897,-0.063380,-0.093582,-0.120470,...,4.0780,4.1294,4.1836,4.2413,4.3031,4.3663,4.4319,4.5000,4.5682,4.6365
4,3,0.28677,0.201980,0.129820,0.067065,0.020661,-0.022351,-0.064381,-0.096544,-0.126370,...,4.1885,4.2401,4.2960,4.3555,4.4178,4.4827,4.5495,4.6184,4.6873,4.7571

In [32]:
SBSC.to_csv("./NewData/label/SBSClabel3.csv")
print("Data save to ./NewData/label/SBSClabel3.csv")

Data save to ./NewData/label/SBSClabel3.csv

## 4. combine data 1 + data 2 + data 3

In [36]:
 result = LSC.append(LSCF,sort=True).append(SBSC,sort=True)

In [37]:
result.to_csv("./NewData/label/data.csv")
print("Data save to ./NewData/label/data.csv")

Data save to ./NewData/label/data.csv