In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from time import time
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report, accuracy_score

# 1. orgnize the data

In [2]:
import pandas as pd
df = pd.read_csv("./NewData/label/data.csv")
df.head()

,Unnamed: 0,label,0,1,2,3,4,5,6,7,...,52,44.1,45.1,46.1,47.1,48.1,49.1,50.1,51.1,52.1
0,0,1,0.047597,-0.006556,-0.068768,-0.12826,-0.125710,-0.243930,-0.265680,-0.321040,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,0.115820,0.012426,-0.041814,-0.12696,-0.162290,-0.231690,-0.267640,-0.310410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1,0.411720,0.269350,0.175000,0.07999,0.004176,-0.066242,-0.120600,-0.166780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1,0.042044,-0.058436,-0.099432,-0.15427,-0.201070,-0.230130,-0.292180,-0.343190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,0.741100,0.555860,0.375010,0.25047,0.125910,0.025223,-0.048146,-0.088785,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.drop(df.columns[0], axis=1)
df.head()

,label,0,1,2,3,4,5,6,7,8,...,52,44.1,45.1,46.1,47.1,48.1,49.1,50.1,51.1,52.1
0,1,0.047597,-0.006556,-0.068768,-0.12826,-0.125710,-0.243930,-0.265680,-0.321040,-0.33509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.115820,0.012426,-0.041814,-0.12696,-0.162290,-0.231690,-0.267640,-0.310410,-0.35092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0.411720,0.269350,0.175000,0.07999,0.004176,-0.066242,-0.120600,-0.166780,-0.21644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0.042044,-0.058436,-0.099432,-0.15427,-0.201070,-0.230130,-0.292180,-0.343190,-0.36422,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,0.741100,0.555860,0.375010,0.25047,0.125910,0.025223,-0.048146,-0.088785,-0.13752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,label,0,1,2,3,4,5,6,7,8,...,52,44.1,45.1,46.1,47.1,48.1,49.1,50.1,51.1,52.1
count,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,...,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000
mean,1.944444,0.280811,0.180896,0.092585,0.019330,-0.043716,-0.099811,-0.150496,-0.194402,-0.234862,...,-0.048767,11.555694,11.837246,12.056230,12.209396,12.303965,12.351109,12.403651,12.421913,12.390560
std,0.863788,0.211050,0.120204,0.099960,0.090086,0.085005,0.087188,0.092244,0.101347,0.111373,...,0.034806,1.476050,1.663259,1.824835,1.941438,2.007385,2.028440,2.051566,2.098399,2.043916
min,1.000000,-2.300700,-0.121360,-0.190330,-0.238790,-0.307040,-0.345570,-0.392140,-0.420340,-0.479230,...,-0.167050,9.129900,9.132300,9.121200,9.117200,9.134600,9.128100,9.219700,9.085500,9.210300
25%,1.000000,0.214938,0.125907,0.037654,-0.045614,-0.109003,-0.167340,-0.233400,-0.296872,-0.347753,...,-0.074370,9.915400,9.999875,10.047750,10.044500,10.031000,10.063750,10.139500,10.126250,10.134500
50%,2.000000,0.293800,0.183230,0.098956,0.020137,-0.043479,-0.088809,-0.140880,-0.185640,-0.215790,...,-0.044579,12.110000,12.401500,12.619000,12.767500,12.905000,12.901500,12.827000,12.883000,13.010500
75%,3.000000,0.364865,0.247067,0.150050,0.073701,0.017051,-0.029327,-0.070716,-0.101360,-0.128177,...,-0.016409,12.748000,13.239750,13.587750,13.885250,14.126250,14.185250,14.018000,14.083500,14.176250
max,3.000000,0.789940,0.586010,0.405740,0.420810,0.278090,0.173750,0.081850,0.022787,-0.022686,...,-0.001746,13.773000,14.335000,14.790000,15.110000,15.344000,15.636000,15.953000,15.846000,15.753000

In [5]:
X = df.drop(df.columns[0], axis=1).dropna(axis=1)

In [25]:
# X

In [26]:
y = df.drop(df.columns[1:], axis=1)

In [27]:
# y

# 2. split the data into 50% training data, 20 % validation data, 30 % final test data 20%

In [9]:
# split the data into 50 % training data + 50%(20%validation + 30% final test data 20%)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.5)

In [10]:
# split the data 
X_validation, X_validation, y_finaltrain, y_finaltest = train_test_split(X_test,y_test,test_size=0.6)

In [30]:
X_train.shape

(162, 52)

# 3. k neareast neighbor

https://medium.com/@kbrook10/day-11-machine-learning-using-knn-k-nearest-neighbors-with-scikit-learn-350c3a1402e6

## 3. 1 Create and Train the KNN -Model

In [ ]:
# Import module for KNN
from sklearn.neighbors import KNeighborsClassifier
# Create KNN instance
# n_neighbors -> argument identifies the amount of neighbors used to ID classification
knn = KNeighborsClassifier(n_neighbors=1)
# Fit (i.e. traing) the model
knn.fit(X_train, y_train)

## 3.2 Make predictions

In [ ]:
# Use the .predict() method to make predictions from the X_test subset
pred = knn.predict(X_test)
# Review the predictions
pred

## 3.3 Evaluate the predictions

In [ ]:
# Import classification report and confusion matrix to evaluate predictions
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
# Print out classification report and confusion matrix
print(classification_report(y_test, pred))

In [ ]:
# Print out confusion matrix
cmat = confusion_matrix(y_test, pred)
#print(cmat)
print('TP - True Negative {}'.format(cmat[0,0]))
print('FP - False Positive {}'.format(cmat[0,1]))
print('FN - False Negative {}'.format(cmat[1,0]))
print('TP - True Positive {}'.format(cmat[1,1]))
print('Accuracy Rate: {}'.format(np.divide(np.sum([cmat[0,0],cmat[1,1]]),np.sum(cmat))))
print('Misclassification Rate: {}'.format(np.divide(np.sum([cmat[0,1],cmat[1,0]]),np.sum(cmat))))

## 3.4 Evaluate alternative K-values for better predictions

In [ ]:
# Generate function to add error rates of KNN with various k-values
# error_rate -> empty list to gather error rates at various k-values
# for loop -> loops through k values 1 to 39
# knn -> creates instance of KNeighborsClassifier with various k
# knn.fit -> trains the model
# pred_i -> conducts predictions from model on test subset
# error_rate.append -> adds error rate of model with various k-value, using the average where prediction not
# equal to the test values
error_rate = []
for i in range(1,40):
    
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, y_train)
    pred_i = knn.predict(X_test)
    error_rate.append(np.mean(pred_i != y_test))

## 3.5 Plot Error Rate

In [ ]:
# Configure and plot error rate over k values
plt.figure(figsize=(10,4))
plt.plot(range(1,40), error_rate, color='blue', linestyle='dashed', marker='o', markerfacecolor='red', markersize=10)
plt.title('Error Rate vs. K-Values')
plt.xlabel('K-Values')
plt.ylabel('Error Rate')

## 3.5 Adjust K value per error rate evaluations

In [ ]:
# Retrain model using optimal k-value
knn = KNeighborsClassifier(n_neighbors=17)
knn.fit(X_train, y_train)
pred = knn.predict(X_test)

In [ ]:
# Print out classification report and confusion matrix
print(classification_report(y_test, pred))

In [ ]:
# Print out confusion matrix
cmat = confusion_matrix(y_test, pred)
#print(cmat)
print('TP - True Negative {}'.format(cmat[0,0]))
print('FP - False Positive {}'.format(cmat[0,1]))
print('FN - False Negative {}'.format(cmat[1,0]))
print('TP - True Positive {}'.format(cmat[1,1]))
print('Accuracy Rate: {}'.format(np.divide(np.sum([cmat[0,0],cmat[1,1]]),np.sum(cmat))))
print('Misclassification Rate: {}'.format(np.divide(np.sum([cmat[0,1],cmat[1,0]]),np.sum(cmat))))

# 4.Decision tree
http://nbviewer.jupyter.org/github/rasbt/pattern_classification/blob/master/machine_learning/decision_trees/decision-tree-cheatsheet.ipynb

In [ ]:
for depth in range(1,10):
    clf = tree.DecisionTreeClassifier(max_depth=depth)
    t0 = time()
    clf.fit(X_train, y_train)
    train_time = time() - t0
    clf_pred = clf.predict(X_test)
    print("Unnormalized - Max Depth:",depth)
    print("Train time:", round(train_time,6))
    #accuracy_score(y_true, y_pred.round(), normalize=False)
    print("Accuracy:",round(accuracy_score(y_test,clf_pred.round()),3))
    print(classification_report(y_test,clf_pred.round()))

In [ ]:
print("random forest")
for estimator in [5,20, 30, 40]:
    clf = RandomForestClassifier(n_estimators=estimator ,max_depth=2, random_state=0)
    clf.fit(X_train, y_train)
    clf_pred_test = clf.predict(X_test)
    clf_pred_train = clf.predict(X_train)
    print("Accuracy train:",round(accuracy_score(y_train,clf_pred_train.round()),4))
    print("Accuracy test:",round(accuracy_score(y_test,clf_pred_test.round()),4))

## 5 . Neural network

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(100, 20), random_state=1)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
clf_pred_test = clf.predict(X_test)
clf_pred_train = clf.predict(X_train)
print("Accuracy train:",round(accuracy_score(y_train,clf_pred_train.round()),4))
print("Accuracy test:",round(accuracy_score(y_test,clf_pred_test.round()),4))

In [ ]:
import sys
!conda install --yes --prefix {sys.prefix} keras

# 5 LSTM

In [11]:
from keras.layers import LSTM

/Users/sifangyou/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [12]:
from keras.models import Sequential

model = Sequential()

In [32]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(162, 52) (162, 52) (162, 1) (162, 1)

In [37]:
from keras.layers import Dense
model = Sequential()
model.add(LSTM(32, input_shape=(162, 3)))
model.add(Dense(1))

In [38]:
model.compile(loss='categorical_crossentropy',
              optimizer='sgd',
              metrics=['accuracy'])

In [39]:
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_4 (LSTM)                (None, 32)                4608
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 33
=================================================================
Total params: 4,641
Trainable params: 4,641
Non-trainable params: 0
_________________________________________________________________
None

In [40]:
# x_train and y_train are Numpy arrays --just like in the Scikit-Learn API.
model.fit(X_train.reshape(1,162,52), y_train.reshape(1,162,1), epochs=5, batch_size=32)

AttributeError: 'DataFrame' object has no attribute 'reshape'

# 6 .classifier = NaiveBayesClassifier.train(train_set)